body {
    background-color: #23262Bff;
    color: #AEAFAEff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #AEAFAEff;
}

footer {
    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 0;
}

footer a:hover {
    color: white;
    transition: .3s;
}

#header {
    background-color: #000101ff;
    padding: 5px 0 5px 30px;
    margin: 0;
    color: #C8582Cff;
    font-family: 'Orbitron', sans-serif;
}

#main_menu {
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #272A2Eff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_menu a:hover {
    color: white;
    transition: .15s;
}

#main_menu a {
    margin: 0 20px 0 20px;
}

.article_list {
    text-align: center;
    margin: 20px;
}

.content {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #272A2Eff;
    border-image-width: 20%;
    text-align: justify;
}

.content:hover {
    transform: scale(1.01);
    transition: .15s;
}

.content_detail {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #272A2Eff;
    border-image-width: 20%;
    text-align: justify;
}

.content_image {
    float: left;
    max-width: 20%;
    padding: 0 20px 20px 0;
}

#comment_text {
    margin-left: 20px;
}