{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

{% if user_list %}

    {% if request.user.is_authenticated %}        
        
        {% for user in user_list %}

        <a href="{% url 'blog:profile' user.profile.current_user.id %}">
            
            <div class="content">

                {% if user.profile.ava %}

                    <img id='ava_small' src="{{ user.profile.ava.url }}" alt="ava">
                
                {% else %}

                    <img id='ava_small' src="{% static 'blog/avatar.png' %}" alt="ava">

                {% endif %}

                <strong>{{ user.username }}</strong>
            
            </div>
            
        </a>
        
        {% endfor %}        

    {% else %}

    <div class="content_detail">

        <h4>You need to log in first.</h4>

    </div>

    {% endif %}

{% else %}

    <div class="content_detail">

        <h4>No users registred yet.</h4>

    </div>

{% endif %}

{% endblock %}