{% extends 'blog/base.html' %}

{% {% load static %}%}

{% block content %}

{% if request.user.is_authenticated %}

    {% for author in authors %}

    <div class="content">    

            <a href="#">
                {% if author.profile.ava %}

                    <img src="{{ author.profile.ava.url }}" alt="ava">
                
                {% else %}

                    <img src="{% static 'blog/avatar.png' %}" alt="ava">

                {% endif %}

                <strong>{{ author.username }}</strong>

                <p>Followers: {{ followers.count }}</p>

                {% for follower in followers %}

                <p>{{ follower.follows_user.username }}</p>  

                {% endfor %}
            
            </a>

    </div>

    {% endfor %}

{% else %}

    <div class="content_detail">

        <h4>You need to log in first.</h4>

    </div>    

{% endif %}

{% endblock %}

