{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    
<div class="content_detail">

    <h3>{{ post.title }} |<small> Rating: {{ post.rating }}</small></h3>

    <p><small>{{ post.created_at|date:"H:m, F j, Y" }}</small></p>    
    
    {% if user.profile.ava %}

        <p><img id='ava_small' src="{{ user.profile.ava.url }}" alt="ava"> {{ post.author }}</p>
    
    {% else %}

        <p><img id='ava_small' src="{% static 'blog/avatar.png' %}" alt="ava"> {{ post.author }}</p>

    {% endif %}

    {% if post.author != request.user %}
    
        {% if post.author.profile in request.user.profile.follows.all %}

            <p>You follow {{ post.author }}</p>

        {% else %}

            <p>You don't follow {{ post.author }}</p>

        {% endif %}

    {% endif %}

    <div class='buttons_row'>

        <form action={% url 'blog:rate_up' post.pk %} method="POST">

            {% csrf_token %}

            <button id="rate_up" type='submit' name='post_id' value="{{ post.id }}">Like ({{ post.likes_count }})</button>
        
        </form>

        <form action={% url 'blog:rate_down' post.pk %} method="POST">

            {% csrf_token %}

            <button id="rate_down" type='submit' name='post_id' value="{{ post.id }}">Dislike ({{ post.dislikes_count }})</button>
        
        </form>

        {% if post.author != request.user %}

            <form method=POST>
            {% csrf_token %}        

                {% if post.author.profile in request.user.profile.follows.all %}

                    <button id="button" type='submit' name='follow' value="unfollow" type="submit">Unfollow {{ post.author.username }}</button>

                {% else %}

                    <button id="button" type='submit' name='follow' value="follow" type="submit">Follow {{ post.author.username }}</button>

                {% endif %}        

            </form>

        {% endif %}

        <br>

    </div>

    {% if post.img %}

    <img class="content_image_detail" src={{ post.img.url }} alt="img">

    {% endif %}

    <p>{{ post.text }}</p>

    <br>
    
    <a id='button' href="new_comment">Write a comment</a>    

    <h4>Comments: {{ comments_count }}</h4>
    
    {% for comment in comments %}

        <p><strong>{{ comment.author }} |</strong> {{ comment.created_at }}</p>
        
        {% if comment.img %}
        <img src="#" alt='img'>
        {% endif %}
        <p id='comment_text'>{{ comment.text }}</p>        
        <br>

    {% empty %}

        <p>No comments yet.</p>    

    {% endfor %}
    
</div>



{% else %}

    <div class="content_detail">

        <h4>You need to log in first.</h4>

    </div>    

{% endif %}

{% endblock %}