{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}

    <div class="content_detail">

        <div id='info'>

            <div>

                {% if profile.ava %}

                    <img id='ava' src={{ profile.ava.url }} alt="ava">

                {% else %}
                    
                    <img id='ava' src="{% static 'blog/avatar.png' %}" alt="ava">
                
                {% endif %}

                <br>

            </div>

            <div>
                
                <p>Name: {{ profile.current_user.username }}</p>

                <p>Bio: {{ profile.bio }}</p>

                <p>Registred: {{ profile.current_user.date_joined }}</p>

                <p>Last log in: {{ profile.current_user.last_login }}</p>

            </div>

            <div>

                <a id='button' href={% url 'blog:profile_follows' profile.id %}>Follows: {{ profile.follows.count }}</a>
                
                <a id='button' href={% url 'blog:profile_followed_by' profile.id %}>Followed by: {{ profile.followed_by.count }}</a>

                <a id='button' href={% url 'blog:profile_posts' profile.id %}>Posts: {{ post_count }}</a>

                <p>Comments: {{ comment_count }}</p>
            
            </div>
        
        </div>
        
    </div>

{% endif %}

{% endblock %}